<nav class="navbar mb-5">
  <div class="container-fluid justify-content-start">
    <a th:href="@{/}"><img class="inicio" th:src="${logo}" /></a>
    <div class="d-flex w-75">
      <div class="d-flex justify-content-start menu">
        <a
          id="clientes"
          th:href="@{/clientes}"
          >Clientes</a
        >
        <a id="productos" th:href="@{/}"
          >Productos</a
        >
      </div>
      <div class="d-flex justify-content-end w-100">
        <a id="logout" href="/logout">CERRAR SESIÓN</a>
      </div>
    </div>
  </div>
</nav>
